<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDatasourceMapper">

    <resultMap type="com.ruoyi.system.domain.SysDatasource" id="SysDatasourceResult">
        <result property="datasourceId" column="datasource_id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="dsType" column="ds_type"/>
        <result property="confType" column="conf_type"/>
        <result property="dsName" column="ds_name"/>
        <result property="instance" column="instance"/>
        <result property="post" column="post"/>
        <result property="host" column="host"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
